asgiref==3.5.2
astroid==2.4.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
boto3==1.24.66
botocore==1.27.66
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.3
cryptography==37.0.2
cssselect2==0.7.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Django==4.1.1
django-storages==1.13.1
djangorestframework==3.12.4
fonttools==4.37.3
html5lib==1.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
isort==5.5.3
isotope==0.0.1a0
jmespath==1.0.1
Js2Py==0.71
kiwisolver @ file:///C:/ci/kiwisolver_1653292408254/work
lazy-object-proxy==1.4.3
matplotlib @ file:///C:/ci/matplotlib-suite_1660169687702/work
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///C:/Windows/Temp/abs_e2036a32-9fe9-47f3-a04c-dbb1c232ba4b334exiur/croots/recipe/numexpr_1656940304835/work
numpy @ file:///C:/Windows/Temp/abs_2a1e1vbeag/croots/recipe/numpy_and_numpy_base_1659432712056/work
order==1.0.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
Pillow==9.2.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydyf==0.3.0
pyjsparser==2.7.1
pylint==2.6.0
PyMySQL @ file:///C:/ci/pymysql_1610482945113/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyphen==0.13.0
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pytz-deprecation-shim==0.1.0.post0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
s3transfer==0.6.0
scinum==0.2.4
sip==4.19.13
six==1.15.0
soupsieve==2.3.2.post1
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
tinycss2==1.1.1
toml==0.10.1
tornado @ file:///C:/ci/tornado_1662476991259/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
tzdata==2022.2
tzlocal==4.2
urllib3 @ file:///C:/ci/urllib3_1650640043075/work
weasyprint==56.1
webencodings==0.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wrapt==1.12.1
zopfli==0.2.1
